#demo {
    color: dodgerblue;
}

.button-text {
    color: blue;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}

.fade {
    width: 200px;
    height: 200px;
    background-color: blue;
    text-align: center;
    margin: auto;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fade2 {
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 0);
    text-align: center;
    margin: auto;
    animation-name: rotation;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fade3 {
    width: 100px;
    height: 100px;
    background-color: blue;
    text-align: center;
    margin: auto;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.center {
    margin:0px auto;
    width:200px;
}

.btn {
    text-align:center;
    margin: 0px auto;
}

@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

@keyframes antirotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(-360deg);
    }
}

.btn button {
    background-color:purple;
    width:200px;
    height:100px;
    color:whitesmoke;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    float: auto;
}