.header {
    display: grid;
}

.columnOne {
    display: grid;
    grid-column-start: 1;
}

body {
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    width: 100vw;
}

.column {
    height: 500px;
    background: white;
    display: flex;
    margin: 10px 10px;
}

#one {
    width: 100%;
    background: black;
    margin: 5px;
}

#two {
    width: 100%;
    background: black;
    margin: 5px;
}

#three {
    width: 100%;
    background: black;
    margin: 5px;
}