.header {
    display: grid;
}

.columnOne {
    display: grid;
    grid-column-start: 1;
}

body {
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Helvetica, sans-serif;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
}

.column {
    height: 500px;
    width: auto;
    max-width: 300px;
    background: white;
    display: flex;
    margin: 10px auto;
    text-align: center;
}

#one {
    width: 100%;
    background: black;
    margin: 5px;
    padding: 50px 5px 10px 5px;
}

#two {
    width: 100%;
    background: black;
    margin: 5px;
    padding: 50px 5px 10px 5px;
}

#three {
    width: 100%;
    background: black;
    margin: 5px;
    padding: 50px 5px 10px 5px;
}